@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@font-face {
	font-family: 'Bebas Neue Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Bebas Neue Bold'), url('fonts/BEBASNEUE BOLD.woff') format('woff');
}

html, body {
    margin: 0 auto;
    padding: 0;
	height:100%;
}

.page {
    margin: 0 auto;
    width: 1280px;
	min-height: 100%;
}
.header {
    width: 1280px;
    height: 90px;
    background-color: #FFF;
	position:relative;
}

.slider {
    width: 1280px;
    height: 491px;
    background-image: url(img/slider.png);
    position: relative;
	top: -1px;
}


.our_offer {
    width: 1280px;
    height: 567px;
}



.site_title {
    position: absolute;
    width: 100%;
    top: 100px;
    font-family: "Bebas Neue Bold", sans-serif;
    color: #cccece;
    font-size: 60px; 
    font-weight: 400;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.text {
    position: absolute;
    width: 60%;
    top: 150px;
    font-family: Ubuntu;
    color: #cccece;
    font-size: 14px; 
    font-weight: 400;
    text-align: center;
    margin: 0 20%;
    margin-top: 27px;
}



.learn_more {
    background-color:  #f98561;
    width: 243px;
    height: 51px;
    border-radius: 5px;
    position: relative;
    top: 254px;
    left: 518px;
}

.learn_more > a{
    text-decoration: none;
    font-family: "Ubuntu Condensed";
    color: #ffebca;
    font-size: 25px; 
    font-weight: 400;
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 51px;
}

.blog {
	background-color: #f98561;
	width: 80px;
	height: 25px;
	border-radius: 5px;
	position: absolute;
	left: 850px;
	top: 34px;
}

.blog > a {
	font-family: "Ubuntu";
	text-decoration: none;
    color: #ffffff;
    font-size: 16px; 
    font-weight: 400;
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 23px;
}

.logo {
	display: inline;
	position: absolute;
	left: 130px;
	top: 32px;
}


.navigation {
	position: absolute;
	left: 350px;
	height: 100%;
}
.navigation-item {
	float: left;
	list-style-type: none;
	height: 100%;
	width: 120px;
}
.navigation-bar {
	height: 100%;
	margin: 0;
	padding: 0;
}
.navigation-item a{
	text-decoration: none;
	font-size: 18px;
	font-family: Ubuntu, sans-serif;
	display: block;
	height: 100%;
	line-height: 90px;
	font-family: Ubuntu;
	color: #515862;
	font-weight: 800;
	text-align: center;
}
.navigation-item:hover a{
	font-family: Ubuntu;
	color: #c5f4ff;
	font-size: 20px; 
	font-weight: 700;
} 
.navigation-item:hover{
	background-color: #11a3d6;
	background-image: url(img/menu_bottom.png);
}

.search-bar {
	position: absolute;
	left: 1000px;
	width: 280px;
	height: 90px;
}

.search-img {
	display: inline-block;
	height: 100%;
	line-height: 90px;
	
}
.search-img img {
	width: 100px;
	vertical-align: middle;
	display: inline-block;	

}

.search-input {
	line-height: 90px;
	display: inline-block;
	width: 180px;
	position: absolute;
	left: 105px;
}
	
.search-input input {
	width: 169px;
	position: relative;
	border-radius: 5px;
	box-shadow: none;
	border: 4px solid #11a3d6; 
}	

.our_services {
    height: 308px;
    width: 1280px;
}

.services-list {
	margin: 48px 122px 34px 122px;
	width: 1040px;
	height: 226px;
	display: flex;
	justify-content: space-around; 
	position: relative;
	top: -36px;
	
}

.our-services-button {
    background-color:  #11a3d6;
    width: 146px;
	height: 36px;
    border-radius: 5px;
    position: relative;
    top: -18px;
	left: 567px;
	display: inline-block;
}

.our-services-button > a{
    text-decoration: none;
    font-family: "Ubuntu Condensed";
    color: #fff;
    font-size: 18px; 
    font-weight: 400;
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 36px;
}

.services-item {
	display: inline-block;
	width: 156px;
	padding-left: 49px;
	padding-right: 49px;
    
}

.item-content p {
	font-family: Ubuntu;
	color: #515862;
	font-size: 11px; 
	font-weight: 400;
	line-height: 15px; 
	text-align: center;
	
}
.item-content p:first-child {
	font-family: "Bree Serif";
	color:  #515862;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 9px;
	margin-top: 13px;
}
.item-content p>a {
	font-family: Ubuntu;
	color: #3e9dd1;
	font-size: 11px; /
	font-weight: 700;
	line-height: 15px; 
	text-align: center;
	text-decoration: none;
}

.item-img img {
	padding-left: 19px;
}

.services-item:hover {
	outline: 1px solid #f98561;
	border-radius: 5px;
}

.our_portfolio {
    width: 1280px;
    height: 518px;
    background-color: #2E3E4F;
	position: relative;
}

.our_portfolio .head {
	position: absolute;
	top: 55px;
	left: 180px;
	height: 42px;
	width: 888px;
}

.our_portfolio .head p{
	display: inline;
	font-family: "Bree Serif";
	color: #f98561;
	font-size: 30px;
	font-weight: 400;
	margin: 0;
}	

.more-works {
    background-color:  #11a3d6;
    width: 90px;
	height: 32px;
    border-radius: 5px;
    position: relative;
 	left: 524px;
	display: inline-block;
	top: -4px;
}

.more-works > a{
    text-decoration: none;
    font-family: "Ubuntu Condensed";
    color: #fff;
    font-size: 18px; 
    font-weight: 400;
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 30px;
}

.gallery {
	position: absolute;
	left: 180px;
	top: 148px;
	width: 914px;
	height: 340px;	
	display: flex;
	justify-content: space-around; 
}

.gallery-item, .gallery-item-c {
	width: 282px;
	display: inline-block;
	height: 340px;
}
.gallery-content p {
	font-family: Ubuntu;
	color: #bcbcbc;
	font-size: 11px; 
	font-weight: 400;
	line-height: 15px; 
	text-align: left;
	margin: 0;
}
.gallery-content {
	height: 120px;
}
.gallery-content p:first-child {
	font-family: "Bree Serif";
	color: #f98561;
	font-size: 17px; 
	font-weight: 400;
	text-align: left;
	margin-top: 21px;
	margin-bottom: 9px;
}
.gallery-item-img {
	height: 220px;
	line-height: 220px; 
	display: inline-block;
}
.gallery-item-c {
	position: relative;
	margin-left: 30px;
	margin-right: 30px;
}


.offer-title {
	margin: 37px 0 26px 0;
	text-align: center;
	font-family: "Bebas Neue Bold", sans-serif;
	color: #2190c1;
	font-size: 40px; 
	font-weight: 400;
}

.offer-text1 {
	font-family: Ubuntu, sans-serif;
	color: #515862;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	margin: 0 287px 40px 287px;
	
}

.offers_list {
	width: 968px;
	height: 142px;
	display: flex;
	justify-content: space-around; 
	margin: 0 120px 0 120px;
	padding: 0 26px 0 26px;
}
.offer_item {
	width: 187px;
	height: 142px;
	display: inline-block;
	margin: 0 26px 0;
}

.offer_item p:first-child {
	font-family: "Bree Serif", sans-serif;
	color: #2b99cc;
	font-size: 17px; 
	font-weight: 400;
	text-align: left;
	margin: 0;
}
.offer_item .content {
	font-family: Ubuntu, sans-serif;
	color: #515862;
	font-size: 11px; 
	font-weight: 400;
	line-height: 15px; 
	text-align: left;
	margin: 9px 0 11px 0;
}

.details {
    background-color:  #2190c1;
    width: 55px;
	height: 24px;
    border-radius: 5px;
    position: relative;
	display: inline-block;
	margin-left: 132px;
}

.details > a{
    text-decoration: none;
    font-family: "Ubuntu Condensed";
    color: #fff;
    font-size: 14px; 
    font-weight: 400;
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 20px;
}

.w-line {
	background-color: rgba(190, 190, 190, 0.5);
	width: 1024px;
	height: 1px;
	margin: 30px 120px 31px 120px;
}

.testimonals {
	text-align: center;
	font-family: "Bebas Neue Bold", sans-serif;
	color: #2190c1;
	font-size: 27px; 
	font-weight: 400;
	margin: 0;
	line-height: 27px;
}

.offer-text2  {
	color: #515862;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	margin: 35px 251px 59px 251px;
	font-family: "Bree Serif", sans-serif;	
	line-height: 26px;	
}

.autor {
	
	font-family: Ubuntu;
	color: #f98561;
	font-size: 14px; 
	font-weight: 700;
	line-height: 15px;
	text-align: center;
	margin: 0 0 29px 0;
}
.autor span{
	font-weight: bold;
}

.more-works:active, .details:active, .sign-up:active {
	position: relative;
	top: 1px;
	box-shadow: 2px -2px #999;
}

.blog:active {
	margin-top: 1px;
	box-shadow: 2px -2px #999;
}

.footer {
    background-color: #2e3e4f;
    width: 1280px;
    height: 294px;
	margin: 0 auto;
	padding-top: 43px;
}

.footer-info {
	height: 261px;
	width: 919px;
	margin: 0 182px 33px 181px;
	display:flex;
	justify-content: space-between;
}

.footer-column-1 {
	width: 225px;
}

.footer-column-2 {
	width: 246px;
}

.footer-column-3 {
	width: 221px;
}

.footer-column-4 {
	width: 144px;
}

.footer-column-1 > p,.footer-column-2 > p, .footer-column-3 > p,.footer-column-4 > p {
	font-family: "Bebas Neue Bold", sans-serif;
	color: #f98561;
	font-size: 30px; 
	font-weight: 400;
	line-height: 26px; 
	text-align: left;
	margin: 0 0 22px 0;	
}
.twet {
	height: 54px;
}

.twet p, .twet a{
	font-family: Ubuntu;
	font-size: 12px;
	font-weight: 400;
	line-height: 17px;
	text-align: left;
}
.twet p{
	color:  #a3afb2;
	margin: 0;
}

.twet a{
	font-family: Ubuntu;
	color:  #2190c1;
	text-decoration: none;
}

.footer-line {
	background-color: #a3afb2;
	height: 1px;
	width: 100%;
	margin: 10px 0 10px;
}

.registr {
	width: 100%;
}

.register > p {
	font-family: Ubuntu;
	color: #2190c1;
	font-size: 13px; 
	font-weight: 400;
	line-height: 20px; 
	text-align: left;
}

input[type="email"]{
	width: 98%;
	border-radius: 5px;
	box-shadow: none;
	
}
.sign-up {
    background-color:  #2190c1;
    width: 77px;
	height: 28px;
    border-radius: 5px;
	display: inline-block;
	margin: 16px 0 0 168px;
}

input[type="email"]:focus {
	background-color: #f98561;
}

.sign-up > a{
    text-decoration: none;
    font-family: "Ubuntu Condensed";
    color: #fff;
    font-size: 16px; 
    font-weight: 400;
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 28px;
}

.twet-photo {
	width: 56px;
	height: 56px;
	background-color: #fff;
	display: inline-block;
	float: left;
}
.footer-column-3 .twet {
	margin-left: 60px;
}

.contact-item {
	height: 37px;
	margin-bottom: 20px;
}
.contact {
	padding-top: 3px;
}
.contact p {
	font-family: Ubuntu;
	color: #a3afb2;
	font-size: 13px; 
	font-weight: 400;
	line-height: 15px; 
	text-align: left;
	margin: 0 0 0 39px;
}
.contact-logo-1 {
	content: url(img/telephone.png);
	width: 34px;
    height: 35px;
	display: inline-block;
	float: left;
}
.contact-logo-2 {
	content: url(img/telephone2.png);
	width: 34px;
    height: 37px;
	display: inline-block;
	float: left;
	margin-left: 3px;
}
.contact-logo-3 {
	content: url(img/mail.png);
	width: 34px;
    height: 25px;
	display: inline-block;
	float: left;
	margin-top: 3px;
}